/****** GENERAL ******/
.section {
  min-height: 100%;
  width: 100%;
  padding-top: 20vh;
  overflow: hidden;
}

.wrapper {
  max-width: 960;
}

.debug {
  background-color: red;
}

/****** HEADER ******/



/****** LANDING ******/
.landing {
  background-image: url("../img/pooltablebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
  filter: grayscale(40%);
  text-align: center;
}

#title {
  font-family: 'Roboto', sans-serif;
  color:#FFF;
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
}
#title-small {
  font-family: 'Roboto', sans-serif;
  color:#FFF;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
}

.subtitlebounds {
}

#subtitle {
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#FFF;
  font-size:3rem;
  text-align: center;
  width: 50%;
  margin-top: -25px;
}

/****** DEMO ******/



/****** INSTALL ******/



/****** CREDITS ******/
