/****** GENERAL ******/
.section {
  min-height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 20vh;
  overflow: hidden;
}

.section-title-on-white{
  text-align: center;
  color: #424242;
  display: inline-block;
  padding:5px 20px 5px 20px;
  border-radius: 50px;
  border: solid 5px #424242;
}

.section-title-on-color{
  text-align: center;
  color: #FFF;
  display: inline-block;
  padding:5px 20px 5px 20px;
  border-radius: 50px;
  background:#424242;
}

.section-title-bounds{
  text-align: center;
  margin-bottom: 50px;
}

.wrapper {
  max-width: 960px;
}

.debug {
  background-color: red;
}

/****** HEADER ******/



/****** LANDING ******/
.landing {
  background-image: url("../img/pooltablebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
  filter: grayscale(40%);
  text-align: center;
}

#title {
  font-family: 'Roboto', sans-serif;
  color:#FFF;
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
}
#title-small {
  font-family: 'Roboto', sans-serif;
  color:#FFF;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
}

.subtitlebounds {
}

#subtitle {
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#FFF;
  font-size:3rem;
  text-align: center;
  width: 50%;
  margin-top: -25px;
}

/****** DEMO ******/

.demo{
  background: #FFF;
  /*box shadow */
  -webkit-box-shadow: inset 0px 10px 30px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 10px 30px -5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 10px 30px -5px rgba(0,0,0,0.75);
}

.demo-row{
  padding: 25px 10px;
}

.demo-img{
  text-align: center;
  display: inline-block;
  border: 3px solid #424242;
  border-radius: 25px;
}

.demo-body-text{
  color: #424242;
}

/****** INSTALL ******/

.install{
  background-image: url("../img/pool-table-wallpaper.jpg");
  background-size: cover;
  -webkit-filter: grayscale(35%); /* Chrome, Safari, Opera */
  filter: grayscale(35%);
}

.instruction-bg{
  display: inline-block;

}

.instruction-text{
  margin: 10px;
  margin-top:50px;
  color:#424242;
  text-align: left;
  opacity:1.0;
  padding: 40px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);;
  display:inline-block;
}

/****** CREDITS ******/

.credits{

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#baf4f0+0,edf4f4+100 */
  background: #baf4f0; /* Old browsers */
  background: -moz-linear-gradient(top,  #baf4f0 0%, #edf4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #baf4f0 0%,#edf4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #baf4f0 0%,#edf4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baf4f0', endColorstr='#edf4f4',GradientType=0 ); /* IE6-9 */
}
